@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
    box-sizing: border-box;
}

::selection {
    @apply bg-green-500 bg-opacity-50;
}

body,
html {
    @apply m-0 h-screen max-h-screen w-screen overflow-y-hidden overflow-x-clip scroll-smooth bg-neutral-200 p-0 font-sans;
}

input[type='range'].vertical {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

.children-select-none {
    * {
        @apply pointer-events-none select-none;
    }
}
